<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="https://bafkreidjofvjxixbscue22ibtbtmjwpjyxvp4eftpswwkweqdzkwz5xc5y.ipfs.nftstorage.link/" />
    <link rel="stylesheet" href="/css/main.css">
    <script type="module" src="/src/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="TopTrack Tech Consultation. Albertico Navarro, Project Manager Professional (PMP). Specializing in heliport vertiport design and website development with an eCommerce Product Management focus">
    <title>TopTrack</title>
</head>